{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
{#    <link rel="stylesheet" href="/static/css/index.html">#}

    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="{% static 'js/edit_btn.js' %}"></script>



    <style>
        .hide{
            display: none;
        }
        ol {
            padding: 0;
            list-style: none;
            counter-reset: sectioncounter
        }

        ol > li:before {
            content: '问题' counter(sectioncounter) ':';
            counter-increment: sectioncounter;
            font-size: 18px;
            color: #d4d4d4;
        }

        ol > li:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
    </style>

</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CRM系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">平台首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">资产首页</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">任务</a></li>
                <li><a href="#">通知</a></li>
                <li><a href="#">消息</a></li>
                <li><a href="#"><img src="/static/img/head.png" alt="" width="30px" height="30px"></a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2" style="border: solid 1px black">
            <h3>校区管理</h3>
            <p><a href="#">学校列表</a></p>
            <p><a href="#">课程列表</a></p>
            <p><a href="#">班级列表</a></p>
            <p><a href="#">学生列表</a></p>
            <p><a href="#">上课记录表</a></p>
            <p><a href="#">学生学习记录列表</a></p>
            <p><a href="/questionAnire/">调查问卷列表</a></p>
        </div>



        <div class="col-md-10">
        {% block left %}
        <h1>hello</h1>


        {% endblock %}
        </div>
    </div>
</div>


</body>


</html>