<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>



</head>
<body>

<form>
    <p>姓名<input type="text" class="username"></p>
    <p>密码<input type="password" class="password"></p>
    <input type="button" value="提交" class="subBtn"><span class="answer"></span>
</form>



<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>